---
name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  validate:
    name: Validate YAML and docker-compose
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose yamllint

      - name: Validate YAML files (não trava CI)
        run: yamllint . || echo "⚠️ yamllint encontrou problemas, mas o CI continua."

      - name: Validate docker-compose
        run: docker-compose -f docker-compose.local.yml config || echo "⚠️ docker-compose config encontrou problemas, mas o CI continua."

  infra_and_tests:
    name: Setup Infrastructure & Run Tests
    runs-on: ubuntu-latest
    needs: validate

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone private services
        run: |
          mkdir -p services
          git clone https://$GH_TOKEN@github.com/Integrador-Coorporativos/import_and_report_service.git services/import_and_report_service
          git clone https://$GH_TOKEN@github.com/Integrador-Coorporativos/academic_service.git services/academic_service
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Install PowerShell
        run: |
          sudo apt-get update
          sudo apt-get install -y wget apt-transport-https software-properties-common
          wget -q https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb
          sudo dpkg -i packages-microsoft-prod.deb
          sudo apt-get update
          sudo apt-get install -y powershell
          
      - name: Create Docker network
        run: docker network create infra || echo "Network already exists"

      - name: Start infrastructure (Linux)
        run: |
          chmod +x ./up.ps1
          pwsh ./up.ps1 -prod -build

        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          KC_DB_USERNAME: ${{ secrets.KC_DB_USERNAME }}
          KC_DB_PASSWORD: ${{ secrets.KC_DB_PASSWORD }}
          KEYCLOAK_ADMIN_USER: ${{ secrets.KEYCLOAK_ADMIN_USER }}
          KEYCLOAK_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_ADMIN_PASSWORD }}
          KEYCLOAK_CLIENT_SECRET: ${{ secrets.KEYCLOAK_CLIENT_SECRET }}
          KEYCLOAK_SERVER_URL: ${{ secrets.KEYCLOAK_SERVER_URL }}
          KEYCLOAK_REALM: ${{ secrets.KEYCLOAK_REALM }}
          KEYCLOAK_CLIENT_ID: ${{ secrets.KEYCLOAK_CLIENT_ID }}
          KC_HOSTNAME: ${{ secrets.KC_HOSTNAME }}
          SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
          RABBITMQ_HOST: ${{ secrets.RABBITMQ_HOST }}
          RABBITMQ_PORT: ${{ secrets.RABBITMQ_PORT }}
          RABBITMQ_USERNAME: ${{ secrets.RABBITMQ_USERNAME }}
          RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}
          MINIO_SERVER_URL: ${{ secrets.MINIO_SERVER_URL }}
          MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
          BUCKET_FILES_NAME: ${{ secrets.BUCKET_FILES_NAME }}
          BUCKET_IMAGES_NAME: ${{ secrets.BUCKET_IMAGES_NAME }}
          GF_SECURITY_ADMIN_USER: ${{ secrets.GF_SECURITY_ADMIN_USER }}
          GF_SECURITY_ADMIN_PASSWORD: ${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}
          GF_SERVER_ROOT_URL: ${{ secrets.GF_SERVER_ROOT_URL }}
          PROMETHEUS_URL: ${{ secrets.PROMETHEUS_URL }}
          SERVER_URL: ${{ secrets.SERVER_URL }}

      - name: Wait for services to start
        run: sleep 60

      - name: Run infrastructure checks
        run: |
          chmod +x ./tests/check-infra.sh
          ./tests/check-infra.sh


      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: test-reports/

  # 3. Job de Deploy no VPS
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    needs: infra_and_tests
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.OVH_IP }}
          username: ${{ secrets.OVH_USERNAME }}
          key: ${{ secrets.OVH_PASSWORD }}
          # Passamos as variáveis de ambiente para o script remoto
          envs: GITHUB_SHA
          script: |

            # Entrar na pasta do projeto (ajuste se necessário)
            cd ~/microservices-infrastructure

            # --- GERAÇÃO AUTOMÁTICA DO .ENV VIA GITHUB ACTIONS ---
            cat > .env << EOL
            DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}

            # --- KEYCLOAK (IDENTITY PROVIDER) ---
            KC_DB_USERNAME=${{ secrets.KC_DB_USERNAME }}
            KC_DB_PASSWORD=${{ secrets.KC_DB_PASSWORD }}
            KEYCLOAK_ADMIN_USER=${{ secrets.KEYCLOAK_ADMIN_USER }}
            KEYCLOAK_ADMIN_PASSWORD=${{ secrets.KEYCLOAK_ADMIN_PASSWORD }}
            KEYCLOAK_CLIENT_SECRET=${{ secrets.KEYCLOAK_CLIENT_SECRET }}
            KEYCLOAK_SERVER_URL=${{ secrets.KEYCLOAK_SERVER_URL }}
            KEYCLOAK_REALM=${{ secrets.KEYCLOAK_REALM }}
            KEYCLOAK_CLIENT_ID=${{ secrets.KEYCLOAK_CLIENT_ID }}
            KC_HOSTNAME=${{ secrets.KC_HOSTNAME }}

            # --- BANCO DE DADOS ACADÊMICO ---
            SPRING_DATASOURCE_URL=${{ secrets.SPRING_DATASOURCE_URL }}
            SPRING_DATASOURCE_USERNAME=${{ secrets.SPRING_DATASOURCE_USERNAME }}
            SPRING_DATASOURCE_PASSWORD=${{ secrets.SPRING_DATASOURCE_PASSWORD }}

            # --- MENSAGERIA (RABBITMQ) ---
            RABBITMQ_HOST=${{ secrets.RABBITMQ_HOST }}
            RABBITMQ_PORT=${{ secrets.RABBITMQ_PORT }}
            RABBITMQ_USERNAME=${{ secrets.RABBITMQ_USERNAME }}
            RABBITMQ_PASSWORD=${{ secrets.RABBITMQ_PASSWORD }}

            # --- CACHE (REDIS) ---
            REDIS_HOST=${{ secrets.REDIS_HOST }}
            REDIS_PORT=${{ secrets.REDIS_PORT }}

            # --- STORAGE (MINIO) ---
            MINIO_SERVER_URL=${{ secrets.MINIO_SERVER_URL }}
            MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}
            MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}
            BUCKET_FILES_NAME=${{ secrets.BUCKET_FILES_NAME }}
            BUCKET_IMAGES_NAME=${{ secrets.BUCKET_IMAGES_NAME }}

            # --- MONITORAMENTO (GRAFANA / PROMETHEUS) ---
            GF_SECURITY_ADMIN_USER=${{ secrets.GF_SECURITY_ADMIN_USER }}
            GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}
            GF_SERVER_ROOT_URL=${{ secrets.GF_SERVER_ROOT_URL }}
            PROMETHEUS_URL=${{ secrets.PROMETHEUS_URL }}

            # --- DEPLOY / SERVER ---
            SERVER_URL=${{ secrets.SERVER_URL }}
            EOL

            git restore up.ps1
            git pull origin main
            
            chmod +x ./up.ps1
            pwsh ./up.ps1 -Prod -Build
            
            # Limpeza de imagens antigas para não encher o disco
            docker image prune -af
